* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

body {
  line-height: 100%;
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 700;
  margin: 0px;
}

p {
  margin: 0px !important;
}

i {
  vertical-align: middle;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:visited:focus {
  outline: thin dotted;
}

a:active, a:hover,
a:visited:active,
a:visited:hover {
  outline: 0;
}

input,
textarea:focus {
  outline: 0;
}

button:focus {
  cursor: pointer;
  outline: 0;
}

ol,
ul {
  list-style: none;
  padding: 0px;
}

li {
  list-style: none;
  padding: 0px;
}

/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  max-width: 100%;
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
  object-fit: cover;
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

p {
  margin: 0;
}

/*=== Import Fonts ===*/
@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

/*=== Typography Styling ===*/
* {
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 16px;
}

.Navbar {
  padding: 60px 100px;
  position: absolute;
  width: 100%;
}

.Navbar .container-fluid .DescktopNavbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.Navbar .container-fluid .DescktopNavbar ul {
  display: flex;
  align-items: center;
}

.Navbar .container-fluid .DescktopNavbar ul li a {
  padding-right: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  font-family: 'Montserrat-SemiBold';
  color: #FFFFFF !important;
}

.Navbar .container-fluid .DescktopNavbar ul li a:hover {
  color: #18E5E7 !important;
}

.Navbar .container-fluid .DescktopNavbar ul li .router-link-exact-active {
  color: #18E5E7 !important;
}

.Navbar .container-fluid .DescktopNavbar .RightNavbar button {
  padding: 12px 36px;
  background: #18E5E7;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  font-family: 'Montserrat-Bold';
  font-size: 16px;
  cursor: pointer;
}

.Navbar .container-fluid .DescktopNavbar .RightNavbar button:hover {
  background-color: transparent !important;
  border: 1px solid #18E5E7;
  color: #18E5E7;
}

.Navbar .container-fluid .MobileNavbar {
  position: relative;
  z-index: 100;
  display: none;
}

.Navbar .container-fluid .MobileNavbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Navbar .container-fluid .MobileNavbar ul .BurgerMenu span {
  width: 70px;
  height: 7px;
  background-color: #18E5E7;
  border-radius: 10px;
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-left: auto !important;
}

.Navbar .container-fluid .MobileNavbar ul .BurgerMenu .Burger_1 {
  width: 30px;
}

.Navbar .container-fluid .MobileNavbar ul .BurgerMenu .Burger_2 {
  width: 50px;
}

.Navbar .NavbarMobileCobtent {
  background-color: #141516 !important;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

.Navbar .NavbarMobileCobtent ul {
  padding: 150px 0px;
}

.Navbar .NavbarMobileCobtent ul li {
  padding-bottom: 50px;
}

.Navbar .NavbarMobileCobtent ul li a {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
  font-family: 'Montserrat-SemiBold';
  color: #FFFFFF !important;
}

.Navbar .NavbarMobileCobtent ul li a:hover {
  color: #18E5E7 !important;
}

.Navbar .NavbarMobileCobtent ul li .router-link-exact-active {
  color: #18E5E7 !important;
}

.Navbar .NavbarMobileCobtent ul button {
  padding: 12px 36px;
  background: #18E5E7;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  font-family: 'Montserrat-Bold';
  font-size: 16px;
}

.Navbar .NavbarMobileCobtent ul button:hover {
  background-color: transparent !important;
  border: 1px solid #18E5E7;
  color: #18E5E7;
}

@media screen and (max-width: 1024px) {
  .Navbar {
    padding: 60px 0px;
  }
  .Navbar .RightNavbar button {
    padding: 10px 25px !important;
  }
}

@media screen and (max-width: 768px) {
  .Navbar .DescktopNavbar {
    display: none !important;
  }
  .Navbar .MobileNavbar {
    display: grid !important;
  }
}

@media screen and (max-width: 560px) {
  .Navbar {
    padding: 30px 0px;
  }
  .Navbar .MobileNavbar ul img {
    width: 80%;
  }
  .Navbar .MobileNavbar ul .BurgerMenu span {
    width: 45px !important;
    height: 6px;
  }
  .Navbar .MobileNavbar ul .BurgerMenu .Burger_1 {
    width: 15px !important;
  }
  .Navbar .MobileNavbar ul .BurgerMenu .Burger_2 {
    width: 25px !important;
  }
}

.footer {
  margin-top: 100px;
  padding: 60px 100px;
  color: white;
  border-top: 2px solid #18E5E7;
}

.footer .Footer_Content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer .Footer_Content .LogoAndDescription {
  width: 30%;
}

.footer .Footer_Content .LogoAndDescription p {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  width: 50%;
  padding: 30px 0px;
  line-height: 35px;
}

.footer .Footer_Content .AboutUs, .footer .Footer_Content .Comunity, .footer .Footer_Content .SocielMedia {
  width: 20%;
}

.footer .Footer_Content .AboutUs h6, .footer .Footer_Content .Comunity h6, .footer .Footer_Content .SocielMedia h6 {
  padding-right: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  font-family: 'Montserrat-SemiBold';
  color: #FFFFFF !important;
}

.footer .Footer_Content .AboutUs li, .footer .Footer_Content .Comunity li, .footer .Footer_Content .SocielMedia li {
  padding-bottom: 20px;
}

.footer .Footer_Content .AboutUs li a, .footer .Footer_Content .Comunity li a, .footer .Footer_Content .SocielMedia li a {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer .Footer_Content .AboutUs li a:hover, .footer .Footer_Content .Comunity li a:hover, .footer .Footer_Content .SocielMedia li a:hover {
  color: #18E5E7;
}

.footer .Footer_Copyrigh p {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;
}

@media screen and (max-width: 1440px) {
  .footer .LogoAndDescription p {
    width: 80% !important;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 60px 20px;
  }
  .footer .LogoAndDescription {
    width: 25%;
  }
  .footer .LogoAndDescription p {
    width: 90% !important;
  }
}

@media screen and (max-width: 560px) {
  .footer p {
    text-align: center;
  }
  .footer .Footer_Content {
    display: block;
    text-align: center;
  }
  .footer .Footer_Content .LogoAndDescription, .footer .Footer_Content .AboutUs, .footer .Footer_Content .Comunity, .footer .Footer_Content .SocielMedia {
    width: 100%;
  }
  .footer .Footer_Content .LogoAndDescription p, .footer .Footer_Content .AboutUs p, .footer .Footer_Content .Comunity p, .footer .Footer_Content .SocielMedia p {
    width: 100% !important;
  }
  .footer .Footer_Content .LogoAndDescription h6, .footer .Footer_Content .AboutUs h6, .footer .Footer_Content .Comunity h6, .footer .Footer_Content .SocielMedia h6 {
    padding-right: 0px !important;
  }
}

.home {
  background-color: #1C1C1C;
}

.home .Hero .container-fluid {
  padding: 200px 100px 0px 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  align-items: flex;
  color: #FFFFFF;
  width: 95%;
  margin: 0px auto;
}

.home .Hero .container-fluid .Hero__Content {
  width: 70%;
}

.home .Hero .container-fluid .Hero__Content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 88px;
  text-transform: capitalize;
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-family: 'Montserrat-Bold';
  width: 50%;
}

.home .Hero .container-fluid .Hero__Content p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  font-family: 'Montserrat-Regular';
  padding: 30px 0px;
  width: 50%;
}

.home .Hero .container-fluid .Hero__Content button {
  padding: 12px 36px;
  background: #18E5E7;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  font-family: 'Montserrat-Bold';
  font-size: 16px;
  margin: 40px 0px;
}

.home .Hero .container-fluid .Hero__Content button:hover {
  background-color: transparent !important;
  border: 1px solid #18E5E7;
  color: #18E5E7;
}

.home .Hero .container-fluid .Hero__Img {
  padding: 20px;
  background: radial-gradient(209.87% 161.91% at 70.19% 100%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(80px);
  border-bottom-right-radius: 30px;
  position: relative;
  right: 40px;
  top: 100px;
}

.home .Hero .container-fluid .Hero__Img .AvatarName {
  padding: 20px 0px;
  display: flex;
  align-items: center;
}

.home .Hero .container-fluid .Hero__Img .AvatarName img {
  margin-right: 10px;
}

.home .Hero .container-fluid .Hero__Img h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 64px;
  font-family: 'Montserrat-Bold';
  text-transform: capitalize;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #18E5E7;
  width: 80%;
}

.home .Hero .container-fluid .Hero__Img .BuyAndPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
  width: 80%;
}

.home .Hero .container-fluid .Hero__Img .BuyAndPrice h6 {
  padding-bottom: 5px;
}

.home .Hero .container-fluid .Hero__Img .BuyAndPrice button {
  padding: 6px 35px;
  background: #18E5E7;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  font-family: 'Montserrat-Bold';
  font-size: 16px;
}

.home .Hero .container-fluid .Hero__Img .BuyAndPrice button:hover {
  background-color: transparent !important;
  border: 1px solid #18E5E7;
  color: #18E5E7;
}

@media screen and (max-width: 1440px) {
  .home .Hero .Hero__Content h1 {
    width: 100%;
  }
  .home .Hero .Hero__Img {
    right: 0px;
  }
  .home .Hero .Hero__Img h3 {
    width: 100% !important;
  }
  .home .Hero .Hero__Img .BuyAndPrice {
    width: 100% !important;
  }
}

@media screen and (max-width: 1024px) {
  .home .Hero .container-fluid {
    padding: 200px 20px 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .home .Hero .container-fluid {
    display: block;
    text-align: center;
  }
  .home .Hero .container-fluid h1 {
    width: 100% !important;
  }
  .home .Hero .container-fluid .Hero__Content {
    width: 100%;
  }
  .home .Hero .container-fluid .Hero__Content p {
    width: 100%;
  }
  .home .Hero .container-fluid .Hero__Img {
    width: 70%;
    right: 0px;
    top: 0px;
    margin: 30px auto;
  }
}

@media screen and (max-width: 560px) {
  .home .Hero .container-fluid {
    display: block;
    text-align: center;
  }
  .home .Hero .container-fluid .Hero__Content h1 {
    font-size: 40px !important;
    width: 100%;
    line-height: 60px;
  }
  .home .Hero .container-fluid .Hero__Img {
    width: 100%;
  }
  .home .Hero .container-fluid .Hero__Img h3 {
    font-size: 30px !important;
  }
}

.home .RecentlySold {
  padding: 150px 100px;
}

.home .RecentlySold .TitreAndButtnSwitch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
}

.home .RecentlySold .TitreAndButtnSwitch h2 {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  text-transform: capitalize;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: white;
}

.home .RecentlySold .TitreAndButtnSwitch .BtnSwitch {
  position: relative;
  right: 30px;
}

.home .RecentlySold .TitreAndButtnSwitch .BtnSwitch button {
  padding: 5px 5px;
  background: #18E5E7;
  border-radius: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  font-family: 'Montserrat-Bold';
  font-size: 30px;
  margin: 0px 10px;
}

.home .RecentlySold .TitreAndButtnSwitch .BtnSwitch button svg {
  width: 40px;
  height: 40px;
}

.home .RecentlySold .TitreAndButtnSwitch .BtnSwitch button:hover {
  background-color: transparent !important;
  border: 1px solid #18E5E7;
}

.home .RecentlySold .TitreAndButtnSwitch .BtnSwitch button:hover svg {
  fill: #18E5E7;
}

.home .RecentlySold .RecentlySold__Card .Card {
  padding: 20px;
  background: radial-gradient(209.87% 161.91% at 70.19% 100%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(80px);
  position: relative;
  margin-bottom: 20px;
}

.home .RecentlySold .RecentlySold__Card .Card .AvatarName {
  padding: 20px 0px;
  display: flex;
  align-items: center;
}

.home .RecentlySold .RecentlySold__Card .Card .AvatarName img {
  margin-right: 10px;
}

.home .RecentlySold .RecentlySold__Card .Card .AvatarName span {
  color: white;
}

.home .RecentlySold .RecentlySold__Card .Card h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 64px;
  font-family: 'Montserrat-Bold';
  text-transform: capitalize;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #18E5E7;
  width: 100%;
}

.home .RecentlySold .RecentlySold__Card .Card h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 64px;
  font-family: 'Montserrat-Bold';
  text-transform: capitalize;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: white;
  width: 80%;
  padding: 30px 0px;
}

@media screen and (max-width: 1024px) {
  .home .RecentlySold {
    padding: 150px 0px;
  }
  .home .RecentlySold .RecentlySold__Card .Card h3 {
    font-size: 25px;
  }
  .home .RecentlySold .RecentlySold__Card .Card h4 {
    font-size: 20px;
    padding: 10px 0px;
  }
}

@media screen and (max-width: 560px) {
  .home .RecentlySold {
    padding: 50px 0px;
  }
  .home .RecentlySold .TitreAndButtnSwitch h2 {
    font-size: 25px;
  }
  .home .RecentlySold .TitreAndButtnSwitch .BtnSwitch {
    right: 0px;
  }
}

.home .ExploreArt {
  padding: 0px 100px;
}

.home .ExploreArt .TitreAndFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
}

.home .ExploreArt .TitreAndFilter h2 {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  text-transform: capitalize;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: white;
}

.home .ExploreArt .TitreAndFilter .Filter button {
  padding: 6px 35px;
  background: transparent;
  border-radius: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  font-family: 'Montserrat-Bold';
  font-size: 16px;
  border: 2px solid #18E5E7;
  color: #18E5E7;
}

.home .ExploreArt .TitreAndFilter .Filter button svg {
  fill: #18E5E7;
}

.home .ExploreArt .TitreAndFilter .Filter button:hover {
  background-color: #18E5E7 !important;
  color: #141516;
}

.home .ExploreArt .TitreAndFilter .Filter button:hover svg {
  fill: black;
}

.home .ExploreArt .ExploreArt__Card .Card {
  padding: 20px;
  background: radial-gradient(209.87% 161.91% at 70.19% 100%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(80px);
  position: relative;
  margin-bottom: 20px;
}

.home .ExploreArt .ExploreArt__Card .Card .AvatarName {
  padding: 20px 0px;
  display: flex;
  align-items: center;
}

.home .ExploreArt .ExploreArt__Card .Card .AvatarName img {
  margin-right: 10px;
}

.home .ExploreArt .ExploreArt__Card .Card .AvatarName span {
  color: white;
}

.home .ExploreArt .ExploreArt__Card .Card h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 64px;
  font-family: 'Montserrat-Bold';
  text-transform: capitalize;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #18E5E7;
  width: 80%;
}

.home .ExploreArt .ExploreArt__Card .Card .BuyAndPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
  width: 90%;
}

.home .ExploreArt .ExploreArt__Card .Card .BuyAndPrice h6 {
  padding-bottom: 5px;
  color: white;
}

.home .ExploreArt .ExploreArt__Card .Card .BuyAndPrice h4 {
  color: white;
}

.home .ExploreArt .ExploreArt__Card .Card .BuyAndPrice button {
  padding: 6px 35px;
  background: #18E5E7;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  font-family: 'Montserrat-Bold';
  font-size: 16px;
}

.home .ExploreArt .ExploreArt__Card .Card .BuyAndPrice button:hover {
  background-color: transparent !important;
  border: 1px solid #18E5E7;
  color: #18E5E7;
}

@media screen and (max-width: 1024px) {
  .home .ExploreArt {
    padding: 50px 20px;
  }
  .home .ExploreArt .ExploreArt__Card h3 {
    font-size: 25px !important;
  }
  .home .ExploreArt .ExploreArt__Card .BuyAndPrice {
    width: 100% !important;
  }
}

@media screen and (max-width: 560px) {
  .home .ExploreArt .TitreAndFilter h2 {
    font-size: 18px;
  }
  .home .ExploreArt .TitreAndFilter .Filter button {
    padding: 6px 20px;
    font-size: 13px;
  }
  .home .ExploreArt .TitreAndFilter .Filter button svg {
    fill: #18E5E7;
  }
}

.home .PopularArtist {
  padding: 50px 100px;
}

.home .PopularArtist .TitreAndButtnSwitch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
}

.home .PopularArtist .TitreAndButtnSwitch h2 {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  text-transform: capitalize;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: white;
}

.home .PopularArtist .TitreAndButtnSwitch .BtnSwitch {
  position: relative;
  right: 30px;
}

.home .PopularArtist .TitreAndButtnSwitch .BtnSwitch button {
  padding: 5px 5px;
  background: #18E5E7;
  border-radius: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  font-family: 'Montserrat-Bold';
  font-size: 30px;
  margin: 0px 10px;
}

.home .PopularArtist .TitreAndButtnSwitch .BtnSwitch button svg {
  width: 40px;
  height: 40px;
}

.home .PopularArtist .TitreAndButtnSwitch .BtnSwitch button:hover {
  background-color: transparent !important;
  border: 1px solid #18E5E7;
}

.home .PopularArtist .TitreAndButtnSwitch .BtnSwitch button:hover svg {
  fill: #18E5E7;
}

.home .PopularArtist .PopularArtis__Content .PopularArtis__Content__single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
  width: 90%;
}

.home .PopularArtist .PopularArtis__Content .PopularArtis__Content__single h5, .home .PopularArtist .PopularArtis__Content .PopularArtis__Content__single span {
  color: white;
}

.home .PopularArtist .PopularArtis__Content .PopularArtis__Content__single .AvatarAndName {
  display: flex;
  align-items: center;
  width: 70%;
}

.home .PopularArtist .PopularArtis__Content .PopularArtis__Content__single .AvatarAndName img {
  margin-right: 20px;
  width: 10%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .home .PopularArtist {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 560px) {
  .home .PopularArtist .PopularArtis__Content__single {
    width: 100%;
  }
  .home .PopularArtist .TitreAndButtnSwitch h2 {
    font-size: 25px;
  }
  .home .PopularArtist .TitreAndButtnSwitch .BtnSwitch {
    right: 0px;
  }
}

.home .StayInTheTop {
  padding: 50px 100px;
}

.home .StayInTheTop .StayInTheTop__content {
  text-align: center;
  border-radius: 10px;
  text-align: center;
  text-align: center;
  color: white;
  padding: 50px 0px;
}

.home .StayInTheTop .StayInTheTop__content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-family: 'Montserrat-Bold';
  margin: auto;
  padding-bottom: 30px;
  width: 30%;
}

.home .StayInTheTop .StayInTheTop__content p {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  width: 30%;
  margin: auto !important;
  padding-bottom: 30px;
}

.home .StayInTheTop .StayInTheTop__content .Subscribe {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .StayInTheTop .StayInTheTop__content .Subscribe input {
  width: 80%;
  padding: 15px  10px;
  border-radius: 8px;
}

.home .StayInTheTop .StayInTheTop__content .Subscribe ::placeholder {
  font-size: 20px;
}

.home .StayInTheTop .StayInTheTop__content .Subscribe button {
  padding: 10px 35px;
  background: #18E5E7;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  font-family: 'Montserrat-Bold';
  font-size: 16px;
  margin-left: 20px;
}

.home .StayInTheTop .StayInTheTop__content .Subscribe button:hover {
  background-color: transparent !important;
  border: 1px solid #18E5E7;
  color: #18E5E7;
}

@media screen and (max-width: 1440px) {
  .home .StayInTheTop .StayInTheTop__content h1 {
    width: 50%;
  }
  .home .StayInTheTop .StayInTheTop__content p {
    width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .home .StayInTheTop {
    padding: 50px 20px;
  }
  .home .StayInTheTop .StayInTheTop__content h1 {
    width: 80%;
  }
  .home .StayInTheTop .StayInTheTop__content p {
    width: 80%;
  }
  .home .StayInTheTop .StayInTheTop__content .Subscribe {
    width: 80%;
  }
}

@media screen and (max-width: 560px) {
  .home .StayInTheTop .StayInTheTop__content .Subscribe {
    width: 100%;
    display: block;
  }
  .home .StayInTheTop .StayInTheTop__content .Subscribe button {
    margin: 30px 0px;
  }
}

.Explore .Hero .container-fluid .Hero__Content {
  width: 100%;
  display: block;
  width: 100%;
  margin-top: 50px;
}

.Explore .Hero .container-fluid .Hero__Content h1 {
  width: 100% !important;
}

.Explore .Hero .container-fluid .Hero__Content .SearchInput {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 50px auto 150px auto !important;
}

.Explore .Hero .container-fluid .Hero__Content .SearchInput input {
  width: 80%;
  padding: 20px  10px;
  border-radius: 8px;
}

.Explore .Hero .container-fluid .Hero__Content .SearchInput ::placeholder {
  font-size: 20px;
}

.Explore .Hero .container-fluid .Hero__Content .SearchInput button {
  padding: 15px 50px;
  background: #18E5E7;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  font-family: 'Montserrat-Bold';
  font-size: 16px;
  margin-left: 20px;
}

.Explore .Hero .container-fluid .Hero__Content .SearchInput button:hover {
  background-color: transparent !important;
  border: 1px solid #18E5E7;
  color: #18E5E7;
}

@media screen and (max-width: 1024px) {
  .Explore .Hero .container-fluid .Hero__Content .SearchInput input {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .Explore .Hero .container-fluid .Hero__Content .SearchInput {
    display: block;
  }
  .Explore .Hero .container-fluid .Hero__Content .SearchInput input {
    width: 90%;
    margin: 20px auto;
  }
}

.NTFs .MyNTFs {
  padding-top: 200px;
}

.NTFs .MyNTFs .BuyAndPrice, .NTFs .MyNTFsOnSale .BuyAndPrice {
  justify-content: center !important;
}

.NTFs .MyNTFs .BuyAndPrice button, .NTFs .MyNTFsOnSale .BuyAndPrice button {
  padding: 6px 50px !important;
}

.DetailArt {
  background-color: #1C1C1C;
}

.DetailArt .Hero .container-fluid {
  padding: 100px 100px 0px 100px;
  position: relative;
  top: 120px;
}

.DetailArt .Hero .container-fluid .BigImg {
  width: 30%;
  border-bottom-right-radius: 30px;
  box-shadow: 1px 1px 0px 26px rgba(255, 255, 255, 0.2);
}

.DetailArt .Hero .container-fluid .Hero__Content {
  width: 50%;
  position: relative;
  left: 50px;
}

.DetailArt .Hero .container-fluid .Hero__Content h1 {
  width: 70%;
}

.DetailArt .Hero .container-fluid .Hero__Content h6 {
  padding: 10px 0px !important;
  font-size: 20px;
}

.DetailArt .Hero .container-fluid .Hero__Content p {
  width: 70%;
}

.DetailArt .Hero .container-fluid .Hero__Content .AvatarName {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.DetailArt .Hero .container-fluid .Hero__Content .AvatarName img {
  margin-right: 10px;
}

.DetailArt .Hero .container-fluid .Hero__Content .Price h1 {
  font-size: 40px;
  width: 100% !important;
}

.DetailArt .Hero .container-fluid .Hero__Content button {
  padding: 10px 50px !important;
}

@media screen and (max-width: 1440px) {
  .DetailArt .Hero .BigImg {
    width: 40% !important;
  }
  .DetailArt .Hero .Hero__Content h1 {
    width: 100% !important;
  }
  .DetailArt .Hero .Hero__Content p {
    width: 100% !important;
  }
}

@media screen and (max-width: 1024px) {
  .DetailArt .Hero .container-fluid {
    padding: 100px 20px 30px 20px;
    top: 150px;
  }
  .DetailArt .Hero .container-fluid .Hero__Content {
    left: 0px !important;
  }
}

@media screen and (max-width: 768px) {
  .DetailArt .Hero .container-fluid {
    padding: 200px 20px 0px 20px !important;
    top: 0px !important;
  }
  .DetailArt .Hero .container-fluid .BigImg {
    width: 100% !important;
  }
  .DetailArt .Hero .container-fluid .Hero__Content {
    width: 100% !important;
    text-align: center !important;
    padding-top: 100px;
  }
  .DetailArt .Hero .container-fluid .Hero__Content .AvatarName {
    justify-content: center !important;
  }
}

.DetailArt .History {
  padding: 250px 0px 50px 0px;
  color: white;
  width: 20%;
  margin: auto;
}

.DetailArt .History h1 {
  padding: 30px 0px;
}

.DetailArt .History .Single__History {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 40px 0px;
}

.DetailArt .History .Single__History h4 {
  padding-bottom: 10px;
  font-size: 22px;
}

.DetailArt .History .Single__History img {
  margin-right: 20px;
  width: 60px;
  height: 60px;
}

.DetailArt .History .Single__History p {
  line-height: 30px;
}

.DetailArt .History .Single__History span {
  color: #18E5E7;
}

@media screen and (max-width: 1440px) {
  .DetailArt .History {
    width: 25%;
  }
}

@media screen and (max-width: 1024px) {
  .DetailArt .History {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
  .DetailArt .History {
    padding: 100px 0px;
    width: 45%;
  }
}

@media screen and (max-width: 560px) {
  .DetailArt .History {
    width: 80%;
  }
}

.DetailArt .ExploreArt .TitreAndFilter h2 {
  width: 70%;
}

@media screen and (max-width: 560px) {
  .DetailArt .ExploreArt .TitreAndFilter {
    display: block;
    text-align: center;
  }
  .DetailArt .ExploreArt .TitreAndFilter h2 {
    width: 100%;
  }
}
